apps/ai_service/.env
data
temp*
__pycache__
*.pyc
*.jsonl
transformer*
blockchain/logs
blockchain/*.log
blockchain/npm-debug.log*
blockchain/yarn-debug.log*
blockchain/yarn-error.log*
blockchain/lerna-debug.log*
blockchain/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
blockchain/pids
blockchain/*.pid
blockchain/*.seed
blockchain/*.pid.lock
blockchain/lib-cov
blockchain/coverage
blockchain/*.lcov
blockchain/.nyc_output
blockchain/.grunt
blockchain/bower_components
blockchain/.lock-wscript
blockchain/build/Release
blockchain/node_modules/
blockchain/jspm_packages/
blockchain/web_modules/
blockchain/*.tsbuildinfo
blockchain/.npm
blockchain/.eslintcache
blockchain/.rpt2_cache/
blockchain/.rts2_cache_cjs/
blockchain/.rts2_cache_es/
blockchain/.rts2_cache_umd/
blockchain/.node_repl_history
blockchain/*.tgz
blockchain/.yarn-integrity
blockchain/.env
blockchain/.env.test
blockchain/.cache
blockchain/.next
blockchain/.nuxt
blockchain/dist
blockchain/.cache/
blockchain/.vuepress/dist
blockchain/.serverless/
blockchain/.fusebox/
blockchain/.dynamodb/
blockchain/.tern-port
blockchain/.vscode-test
tree.txt
updates
rs*
apps/ai_service/v1-0-0/app/api/*.db
blockchain/chaincode/misinformation/go/vendor/
blockchain/chaincode/misinformation/go/misinformation
blockchain/exp*
com*
blockchain/chaincode/misinformation/D*
venv*
protect_timeline
